@using PagedList.Mvc
@using MovieWebsite.Models

@model MovieListViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(new { pageNum = 1 }))
{
    <p>
        Find: @Html.TextBoxFor(m => m.SearchString)
        by 
        @Html.DropDownListFor(m => m.FilterBy, new List<SelectListItem>() {
            new SelectListItem { Text = "Title", Value = "Title"},
            new SelectListItem { Text = "Genres", Value = "Genres"},
            new SelectListItem { Text = "Actors", Value = "Actors"}
            })
        
        
        <input type="submit" value="Search" class="btn" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new {
           orderBy = (String.IsNullOrEmpty(Model.OrderBy) || Model.OrderBy == "desc") ? "asc" : "desc",
           pageNum = Model.Movies.PageNumber})
        </th>
        <th>
            @Html.Label("Genres")
        </th>
        <th>
            @Html.Label("List of Actors")
        </th>
    </tr>
    @foreach (var curMovie in Model.Movies)
    {
        <tr>
            <td>
                @Html.ActionLink(curMovie.Title, "Details", new { id = curMovie.ID })
            </td>
            <td>
                <ul>
                    @foreach (var curGenre in curMovie.Genres)
                    {
                        <li>@Html.DisplayFor(m => curGenre.Name)</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var curActor in curMovie.Actors)
                    {
                        <li>@Html.DisplayFor(m => curActor.FullName)</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table>

Page @(Model.Movies.PageCount < Model.Movies.PageNumber ? 0 : Model.Movies.PageNumber) of @Model.Movies.PageCount

@Html.PagedListPager(Model.Movies, page => Url.Action("Index", new { orderBy = Model.OrderBy, pageNum = page }))